[Desktop Entry]
Type=Application
Name=My Tkinter App
Comment=Start my Tkinter GUI at login
Exec=/usr/bin/python3 /opt/_RunScanner/main.py
# Exec=/usr/bin/bash -lc '/usr/bin/python3 -u /opt/_RunScanner/main.py >> /tmp/tk_gui.log 2>&1'
Path=/opt/_RunScanner
Terminal=false
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
