# /etc/systemd/system/scanner-agent.service
[Unit]
Description=Scanner agent (Pi polls NMS commands and ACKs)
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=pi
WorkingDirectory=/opt/_RunScanner
Environment=PYTHONPATH=/opt/_RunScanner:/opt/_RunScanner/voice
# ExecStartPre=/usr/bin/rm -f /opt/_RunScanner/nms_base.txt /opt/_RunScanner/scanner_name.txt /opt/_RunScanner/last_register.json
RuntimeDirectory=scanner-agent
RuntimeDirectoryMode=0755
ExecStartPre=/bin/bash -lc 'MARK=/run/scanner-agent/reg_cleaned; if [ ! -f "$MARK" ]; then rm -f /opt/_RunScanner/nms_base.txt /opt/_RunScanner/scanner_name.txt /opt/_RunScanner/last_register.json; touch "$MARK"; fi'
ExecStartPre=/usr/bin/bash /opt/_RunScanner/register_until_ok.sh
ExecStart=/usr/bin/python3 /opt/_RunScanner/agent.py
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
